openapi: 3.0.3
info:
    title: 'Pairumani Hotel API'
    description: ''
    version: 1.0.0
servers:
    -
        url: 'http://c2210260.ferozo.com'
paths:
    /api/login:
        post:
            summary: 'CLIENTE - Login con redes sociales y normal'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200, success'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    id: 7
                                    nombres: 'Juan Carlos'
                                    apellidos: 'Espinoza Cespedes'
                                    tipo_documento: Ci
                                    num_documento: '94564455'
                                    celular: '65582210'
                                    direccion: 'Av Pando'
                                    ciudad: Cochabamba
                                    pais: Bolivia
                                    oficio: Arquitecto
                                    empresa: SOFT
                                    telefono: '4444444'
                                    email: juan@gmail.com
                                    fecha_nacimiento: '1989-05-12'
                                    motivo_viaje: Recreacion
                                    foto: foto.jpg
                                    api_token: KjUdFmnlAu7aFjlUXWIuSE1L4wPM8y3oWFacDALHOHKbNlbZGIa6ifz6Ojy4
                                    imei_celular: '354651100023680'
                                properties:
                                    id: { type: integer, example: 7 }
                                    nombres: { type: string, example: 'Juan Carlos' }
                                    apellidos: { type: string, example: 'Espinoza Cespedes' }
                                    tipo_documento: { type: string, example: Ci }
                                    num_documento: { type: string, example: '94564455' }
                                    celular: { type: string, example: '65582210' }
                                    direccion: { type: string, example: 'Av Pando' }
                                    ciudad: { type: string, example: Cochabamba }
                                    pais: { type: string, example: Bolivia }
                                    oficio: { type: string, example: Arquitecto }
                                    empresa: { type: string, example: SOFT }
                                    telefono: { type: string, example: '4444444' }
                                    email: { type: string, example: juan@gmail.com }
                                    fecha_nacimiento: { type: string, example: '1989-05-12' }
                                    motivo_viaje: { type: string, example: Recreacion }
                                    foto: { type: string, example: foto.jpg }
                                    api_token: { type: string, example: KjUdFmnlAu7aFjlUXWIuSE1L4wPM8y3oWFacDALHOHKbNlbZGIa6ifz6Ojy4 }
                                    imei_celular: { type: string, example: '354651100023680' }
            tags:
                - Endpoints
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                tipo_login:
                                    type: integer
                                    description: 'El tipo de login que usara el cliente para iniciar sesion; 1 = Email login, 2 = gmail login,3 = facebook login.'
                                    example: 1
                                email:
                                    type: string
                                    description: 'Email que usa el cliente para el registro.'
                                    example: cliente@gmail.com
                                password:
                                    type: string
                                    description: 'La clave que usara para ingresar al sistema el cliente para el registro.'
                                    example: cliente54782
                                nombres:
                                    type: string
                                    description: 'Los nombes del cliente para el registro.'
                                    example: 'Jose Rodrigo'
                                apellidos:
                                    type: string
                                    description: 'Los apellidos del cliente para el registro.'
                                    example: 'Cespedes Rojas'
                                tipo_documento:
                                    type: string
                                    description: 'El tipo de documento que tiene el cliente para el registro .'
                                    example: 'Ci,Pasaporte'
                                num_documento:
                                    type: string
                                    description: 'Número de documento del cliente para el registro.'
                                    example: '657848455'
                                celular:
                                    type: string
                                    description: 'Número de celular del cliente para el registro.'
                                    example: '65582210'
                                direccion:
                                    type: string
                                    description: 'Direccón del cliente para el registro.'
                                    example: 'Av Potosi'
                                ciudad:
                                    type: string
                                    description: 'La ciudad donde vive el cliente para el registro.'
                                    example: 'La Paz'
                                pais:
                                    type: string
                                    description: 'País donde vive el cliente para el registro.'
                                    example: Bolivia
                                oficio:
                                    type: string
                                    description: 'El trabajo que realiza el cliente para el registro.'
                                    example: 'Ing Civil'
                                empresa:
                                    type: string
                                    description: 'La empresa donde trabaja actualemnte el cliente para el registro.'
                                    example: YPFB
                                telefono:
                                    type: Número
                                    description: 'de telefono fijo del cliente para el registro.'
                                    example: '4652588'
                                fecha_nacimiento:
                                    type: date
                                    description: 'Fecha de nacimiento del cliente para el registro.'
                                    example: '1985-03-22'
                                motivo_viaje:
                                    type: string
                                    description: 'Motivo por el cual viaja el cliente para el registro.'
                                    example: 'Recreacion,Negocios,Salud,Otro'
                                foto:
                                    type: string
                                    description: 'Foto que se registrara cuando haga login con sus redes sociales o suba una foto el lciente para el registro, esta debe ser una ruta absoluta como https://www.facebook.com/user1/photo.jpg .'
                                    example: 'https://www.facebook.com/user1/photo.jpg'
                                imei_celular:
                                    type: string
                                    description: 'Se registrara el imei del celular del cliente para el registro.'
                                    example: '354651100023680'
                            required:
                                - tipo_login
                                - nombres
                                - apellidos
                                - celular
            security: []
    /api/signup:
        post:
            summary: 'CLIENTE - Registro de nuevo Cliente'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200, success'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    id: 7
                                    nombres: 'Juan Carlos'
                                    apellidos: 'Espinoza Cespedes'
                                    tipo_documento: Ci
                                    num_documento: '94564455'
                                    celular: '65582210'
                                    direccion: 'Av Pando'
                                    ciudad: Cochabamba
                                    pais: Bolivia
                                    oficio: Arquitecto
                                    empresa: SOFT
                                    telefono: '4444444'
                                    email: juan@gmail.com
                                    fecha_nacimiento: '1989-05-12'
                                    motivo_viaje: Recreacion
                                    foto: foto.jpg
                                    api_token: KjUdFmnlAu7aFjlUXWIuSE1L4wPM8y3oWFacDALHOHKbNlbZGIa6ifz6Ojy4
                                    imei_celular: '354651100023680'
                                properties:
                                    id: { type: integer, example: 7 }
                                    nombres: { type: string, example: 'Juan Carlos' }
                                    apellidos: { type: string, example: 'Espinoza Cespedes' }
                                    tipo_documento: { type: string, example: Ci }
                                    num_documento: { type: string, example: '94564455' }
                                    celular: { type: string, example: '65582210' }
                                    direccion: { type: string, example: 'Av Pando' }
                                    ciudad: { type: string, example: Cochabamba }
                                    pais: { type: string, example: Bolivia }
                                    oficio: { type: string, example: Arquitecto }
                                    empresa: { type: string, example: SOFT }
                                    telefono: { type: string, example: '4444444' }
                                    email: { type: string, example: juan@gmail.com }
                                    fecha_nacimiento: { type: string, example: '1989-05-12' }
                                    motivo_viaje: { type: string, example: Recreacion }
                                    foto: { type: string, example: foto.jpg }
                                    api_token: { type: string, example: KjUdFmnlAu7aFjlUXWIuSE1L4wPM8y3oWFacDALHOHKbNlbZGIa6ifz6Ojy4 }
                                    imei_celular: { type: string, example: '354651100023680' }
            tags:
                - Endpoints
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                nombres:
                                    type: string
                                    description: 'Los nombes del cliente para el registro.'
                                    example: 'Jose Rodrigo'
                                apellidos:
                                    type: string
                                    description: 'Los apellidos del cliente para el registro.'
                                    example: 'Cespedes Rojas'
                                tipo_documento:
                                    type: string
                                    description: 'El tipo de documento que tiene el cliente para el registro .'
                                    example: 'Ci,Pasaporte'
                                num_documento:
                                    type: string
                                    description: 'Número de documento del cliente para el registro.'
                                    example: '657848455'
                                celular:
                                    type: string
                                    description: 'Número de celular del cliente para el registro.'
                                    example: '65582210'
                                direccion:
                                    type: string
                                    description: 'Direccón del cliente para el registro.'
                                    example: 'Av Potosi'
                                ciudad:
                                    type: string
                                    description: 'La ciudad donde vive el cliente para el registro.'
                                    example: 'La Paz'
                                pais:
                                    type: string
                                    description: 'País donde vive el cliente para el registro.'
                                    example: Bolivia
                                oficio:
                                    type: string
                                    description: 'El trabajo que realiza el cliente para el registro.'
                                    example: 'Ing Civil'
                                empresa:
                                    type: string
                                    description: 'La empresa donde trabaja actualemnte el cliente para el registro.'
                                    example: YPFB
                                telefono:
                                    type: Número
                                    description: 'de telefono fijo del cliente para el registro.'
                                    example: '4652588'
                                email:
                                    type: string
                                    description: 'Email que usa el cliente para el registro.'
                                    example: cliente@gmail.com
                                password:
                                    type: string
                                    description: 'La clave que usara para ingresar al sistema el cliente para el registro.'
                                    example: cliente54782
                                fecha_nacimiento:
                                    type: date
                                    description: 'Fecha de nacimiento del cliente para el registro.'
                                    example: '1985-03-22'
                                motivo_viaje:
                                    type: string
                                    description: 'Motivo por el cual viaja el cliente para el registro.'
                                    example: 'Recreacion,Negocios,Salud,Otro'
                                foto:
                                    type: string
                                    description: 'Foto que se registrara cuando haga login con sus redes sociales o suba una foto el lciente para el registro.'
                                    example: foto.jpg
                                imei_celular:
                                    type: string
                                    description: 'Se registrara el imei del celular del cliente para el registro.'
                                    example: '354651100023680'
                            required:
                                - nombres
                                - apellidos
                                - celular
                                - email
                                - password
            security: []
    /api/perfil:
        post:
            summary: 'CLIENTE -  Perfil de Cliente'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200, success'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    id: 7
                                    nombres: 'Juan Carlos'
                                    apellidos: 'Espinoza Cespedes'
                                    tipo_documento: Ci
                                    num_documento: '94564455'
                                    celular: '65582210'
                                    direccion: 'Av Pando'
                                    ciudad: Cochabamba
                                    pais: Bolivia
                                    oficio: Arquitecto
                                    empresa: SOFT
                                    telefono: '4444444'
                                    email: juan@gmail.com
                                    fecha_nacimiento: '1989-05-12'
                                    motivo_viaje: Recreacion
                                    foto: foto.jpg
                                    api_token: KjUdFmnlAu7aFjlUXWIuSE1L4wPM8y3oWFacDALHOHKbNlbZGIa6ifz6Ojy4
                                    imei_celular: '354651100023680'
                                properties:
                                    id: { type: integer, example: 7 }
                                    nombres: { type: string, example: 'Juan Carlos' }
                                    apellidos: { type: string, example: 'Espinoza Cespedes' }
                                    tipo_documento: { type: string, example: Ci }
                                    num_documento: { type: string, example: '94564455' }
                                    celular: { type: string, example: '65582210' }
                                    direccion: { type: string, example: 'Av Pando' }
                                    ciudad: { type: string, example: Cochabamba }
                                    pais: { type: string, example: Bolivia }
                                    oficio: { type: string, example: Arquitecto }
                                    empresa: { type: string, example: SOFT }
                                    telefono: { type: string, example: '4444444' }
                                    email: { type: string, example: juan@gmail.com }
                                    fecha_nacimiento: { type: string, example: '1989-05-12' }
                                    motivo_viaje: { type: string, example: Recreacion }
                                    foto: { type: string, example: foto.jpg }
                                    api_token: { type: string, example: KjUdFmnlAu7aFjlUXWIuSE1L4wPM8y3oWFacDALHOHKbNlbZGIa6ifz6Ojy4 }
                                    imei_celular: { type: string, example: '354651100023680' }
            tags:
                - Endpoints
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                cliente_id:
                                    type: integer
                                    description: 'Id del cliente para mostrar el detalle de su perfil.'
                                    example: 7
                            required:
                                - cliente_id
            security: []
    /api/update:
        post:
            summary: 'CLIENTE -  Editar perfil Cliente'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200, success'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    id: 7
                                    nombres: 'Juan Carlos'
                                    apellidos: 'Espinoza Cespedes'
                                    tipo_documento: Ci
                                    num_documento: '94564455'
                                    celular: '65582210'
                                    direccion: 'Av Pando'
                                    ciudad: Cochabamba
                                    pais: Bolivia
                                    oficio: Arquitecto
                                    empresa: SOFT
                                    telefono: '4444444'
                                    email: juan@gmail.com
                                    fecha_nacimiento: '1989-05-12'
                                    motivo_viaje: Recreacion
                                    foto: foto.jpg
                                    api_token: KjUdFmnlAu7aFjlUXWIuSE1L4wPM8y3oWFacDALHOHKbNlbZGIa6ifz6Ojy4
                                    imei_celular: '354651100023680'
                                properties:
                                    id: { type: integer, example: 7 }
                                    nombres: { type: string, example: 'Juan Carlos' }
                                    apellidos: { type: string, example: 'Espinoza Cespedes' }
                                    tipo_documento: { type: string, example: Ci }
                                    num_documento: { type: string, example: '94564455' }
                                    celular: { type: string, example: '65582210' }
                                    direccion: { type: string, example: 'Av Pando' }
                                    ciudad: { type: string, example: Cochabamba }
                                    pais: { type: string, example: Bolivia }
                                    oficio: { type: string, example: Arquitecto }
                                    empresa: { type: string, example: SOFT }
                                    telefono: { type: string, example: '4444444' }
                                    email: { type: string, example: juan@gmail.com }
                                    fecha_nacimiento: { type: string, example: '1989-05-12' }
                                    motivo_viaje: { type: string, example: Recreacion }
                                    foto: { type: string, example: foto.jpg }
                                    api_token: { type: string, example: KjUdFmnlAu7aFjlUXWIuSE1L4wPM8y3oWFacDALHOHKbNlbZGIa6ifz6Ojy4 }
                                    imei_celular: { type: string, example: '354651100023680' }
            tags:
                - Endpoints
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                nombres:
                                    type: string
                                    description: 'Los nombes del cliente para el registro.'
                                    example: 'Jose Rodrigo'
                                apellidos:
                                    type: string
                                    description: 'Los apellidos del cliente para el registro.'
                                    example: 'Cespedes Rojas'
                                tipo_documento:
                                    type: string
                                    description: 'El tipo de documento que tiene el cliente para el registro .'
                                    example: 'Ci,Pasaporte'
                                num_documento:
                                    type: string
                                    description: 'Número de documento del cliente para el registro.'
                                    example: '657848455'
                                celular:
                                    type: string
                                    description: 'Número de celular del cliente para el registro.'
                                    example: '65582210'
                                direccion:
                                    type: string
                                    description: 'Direccón del cliente para el registro.'
                                    example: 'Av Potosi'
                                ciudad:
                                    type: string
                                    description: 'La ciudad donde vive el cliente para el registro.'
                                    example: 'La Paz'
                                pais:
                                    type: string
                                    description: 'País donde vive el cliente para el registro.'
                                    example: Bolivia
                                oficio:
                                    type: string
                                    description: 'El trabajo que realiza el cliente para el registro.'
                                    example: 'Ing Civil'
                                empresa:
                                    type: string
                                    description: 'La empresa donde trabaja actualemnte el cliente para el registro.'
                                    example: YPFB
                                telefono:
                                    type: Número
                                    description: 'de telefono fijo del cliente para el registro.'
                                    example: '4652588'
                                email:
                                    type: string
                                    description: 'Email que usa el cliente para el registro.'
                                    example: cliente@gmail.com
                                password:
                                    type: string
                                    description: 'La clave que usara para ingresar al sistema el cliente para el registro.'
                                    example: cliente54782
                                fecha_nacimiento:
                                    type: date
                                    description: 'Fecha de nacimiento del cliente para el registro.'
                                    example: '1985-03-22'
                                motivo_viaje:
                                    type: string
                                    description: 'Motivo por el cual viaja el cliente para el registro.'
                                    example: 'Recreacion,Negocios,Salud,Otro'
                                foto:
                                    type: string
                                    description: 'Foto que se registrara cuando haga login con sus redes sociales o suba una foto el lciente para el registro.'
                                    example: foto.jpg
                                imei_celular:
                                    type: string
                                    description: 'Se registrara el imei del celular del cliente para el registro.'
                                    example: '354651100023680'
                            required:
                                - nombres
                                - apellidos
                                - celular
            security: []
    /api/verificaremail:
        post:
            summary: 'CLIENTE -  Verificacion de email para cambio de password'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200, success'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    id: 7
                                    nombres: 'Juan Carlos'
                                    apellidos: 'Espinoza Cespedes'
                                    tipo_documento: Ci
                                    num_documento: '94564455'
                                    celular: '65582210'
                                    direccion: 'Av Pando'
                                    ciudad: Cochabamba
                                    pais: Bolivia
                                    oficio: Arquitecto
                                    empresa: SOFT
                                    telefono: '4444444'
                                    email: juan@gmail.com
                                    fecha_nacimiento: '1989-05-12'
                                    motivo_viaje: Recreacion
                                    foto: foto.jpg
                                    api_token: KjUdFmnlAu7aFjlUXWIuSE1L4wPM8y3oWFacDALHOHKbNlbZGIa6ifz6Ojy4
                                    imei_celular: '354651100023680'
                                properties:
                                    id: { type: integer, example: 7 }
                                    nombres: { type: string, example: 'Juan Carlos' }
                                    apellidos: { type: string, example: 'Espinoza Cespedes' }
                                    tipo_documento: { type: string, example: Ci }
                                    num_documento: { type: string, example: '94564455' }
                                    celular: { type: string, example: '65582210' }
                                    direccion: { type: string, example: 'Av Pando' }
                                    ciudad: { type: string, example: Cochabamba }
                                    pais: { type: string, example: Bolivia }
                                    oficio: { type: string, example: Arquitecto }
                                    empresa: { type: string, example: SOFT }
                                    telefono: { type: string, example: '4444444' }
                                    email: { type: string, example: juan@gmail.com }
                                    fecha_nacimiento: { type: string, example: '1989-05-12' }
                                    motivo_viaje: { type: string, example: Recreacion }
                                    foto: { type: string, example: foto.jpg }
                                    api_token: { type: string, example: KjUdFmnlAu7aFjlUXWIuSE1L4wPM8y3oWFacDALHOHKbNlbZGIa6ifz6Ojy4 }
                                    imei_celular: { type: string, example: '354651100023680' }
            tags:
                - Endpoints
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                email:
                                    type: string
                                    description: 'Verificacion que existe el email enviado.'
                                    example: cliente@gmail.com
                            required:
                                - email
            security: []
    /api/verificarcodigo:
        post:
            summary: 'CLIENTE -  Verificacion de codigo enviado al email del cliente'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200, success'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    id: 7
                                    nombres: 'Juan Carlos'
                                    apellidos: 'Espinoza Cespedes'
                                    tipo_documento: Ci
                                    num_documento: '94564455'
                                    celular: '65582210'
                                    direccion: 'Av Pando'
                                    ciudad: Cochabamba
                                    pais: Bolivia
                                    oficio: Arquitecto
                                    empresa: SOFT
                                    telefono: '4444444'
                                    email: juan@gmail.com
                                    fecha_nacimiento: '1989-05-12'
                                    motivo_viaje: Recreacion
                                    foto: foto.jpg
                                    api_token: KjUdFmnlAu7aFjlUXWIuSE1L4wPM8y3oWFacDALHOHKbNlbZGIa6ifz6Ojy4
                                    imei_celular: '354651100023680'
                                properties:
                                    id: { type: integer, example: 7 }
                                    nombres: { type: string, example: 'Juan Carlos' }
                                    apellidos: { type: string, example: 'Espinoza Cespedes' }
                                    tipo_documento: { type: string, example: Ci }
                                    num_documento: { type: string, example: '94564455' }
                                    celular: { type: string, example: '65582210' }
                                    direccion: { type: string, example: 'Av Pando' }
                                    ciudad: { type: string, example: Cochabamba }
                                    pais: { type: string, example: Bolivia }
                                    oficio: { type: string, example: Arquitecto }
                                    empresa: { type: string, example: SOFT }
                                    telefono: { type: string, example: '4444444' }
                                    email: { type: string, example: juan@gmail.com }
                                    fecha_nacimiento: { type: string, example: '1989-05-12' }
                                    motivo_viaje: { type: string, example: Recreacion }
                                    foto: { type: string, example: foto.jpg }
                                    api_token: { type: string, example: KjUdFmnlAu7aFjlUXWIuSE1L4wPM8y3oWFacDALHOHKbNlbZGIa6ifz6Ojy4 }
                                    imei_celular: { type: string, example: '354651100023680' }
            tags:
                - Endpoints
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                codigo:
                                    type: string
                                    description: 'Verificacion que el codigo que se envio a su email coincidan.'
                                    example: '58741258'
                                cliente_id:
                                    type: integer
                                    description: 'Id del cliente para devolver su informacion.'
                                    example: 5
                            required:
                                - codigo
                                - cliente_id
            security: []
    /api/cambiarpassword:
        post:
            summary: 'CLIENTE - Cambio de password del Cliente'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200, success'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n  \"data\": Se cambio la contraseña,\n}"
            tags:
                - Endpoints
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                id:
                                    type: integer
                                    description: 'Id del cliente a restablecer la contraseña.'
                                    example: 5
                                password:
                                    type: string
                                    description: 'Password por el cual restablecera.'
                                    example: cliente12578
                                retypepassword:
                                    type: string
                                    description: 'Verificacion de que escribio bien la contraseña.'
                                    example: cliente12578
                            required:
                                - id
                                - password
                                - retypepassword
            security: []
    /api/sliders:
        get:
            summary: 'SLIDERS - Listado de la Galeria del Hotel'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200, success'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    id: 1
                                    foto: 'http://pairumanibackoffice.test/public/imagenes/hotel/galeria/foto_210514173512.jpg'
                                    descripcion: '<p>sadsafasfa</p>'
                                properties:
                                    id: { type: integer, example: 1 }
                                    foto: { type: string, example: 'http://pairumanibackoffice.test/public/imagenes/hotel/galeria/foto_210514173512.jpg' }
                                    descripcion: { type: string, example: '<p>sadsafasfa</p>' }
            tags:
                - Endpoints
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                bearer_token:
                                    type: string
                                    description: 'Campo unico del cliente autenticado para acceder a esta ruta.'
                                    example: drWa9YnurQFx6bY8rfsRcdMXsXpLvTUWSEkqQHivBDLJpbFv7E31BxxBcj6z
                            required:
                                - bearer_token
            security: []
    /api/habitacioncategorias:
        get:
            summary: 'HABITACIONES - Listado de las categorias de las habitaciones'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200, success'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    id: 4
                                    nombre: 'Habitacion Presidencial'
                                    descripcion: '<p>sadsafasfa</p>'
                                    foto: 'http://pairumanibackoffice.test/public/imagenes/habitaciones/categorias/habitacioncategoria_210422124342.jpg'
                                properties:
                                    id: { type: integer, example: 4 }
                                    nombre: { type: string, example: 'Habitacion Presidencial' }
                                    descripcion: { type: string, example: '<p>sadsafasfa</p>' }
                                    foto: { type: string, example: 'http://pairumanibackoffice.test/public/imagenes/habitaciones/categorias/habitacioncategoria_210422124342.jpg' }
            tags:
                - Endpoints
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                bearer_token:
                                    type: string
                                    description: 'Campo unico del cliente autenticado para acceder a esta ruta.'
                                    example: drWa9YnurQFx6bY8rfsRcdMXsXpLvTUWSEkqQHivBDLJpbFv7E31BxxBcj6z
                            required:
                                - bearer_token
            security: []
    /api/habitaciones:
        post:
            summary: 'HABITACIONES - Listado de habitaciones segun la categoria que estan enlazadas'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200, success'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    nombre: 'Habitacion 1'
                                    descripcion: '<p>asdafasfasfasfafafas</p>'
                                    num_habitacion: 1
                                    precio: '850.00'
                                    precio_promocion: '550.00'
                                    capacidad_minima: '3'
                                    capacidad_maxima: '7'
                                    estado: Disponible
                                    foto: 'http://pairumanibackoffice.test/public/imagenes/habitaciones/habitacion_210516222401.jfif'
                                properties:
                                    nombre: { type: string, example: 'Habitacion 1' }
                                    descripcion: { type: string, example: '<p>asdafasfasfasfafafas</p>' }
                                    num_habitacion: { type: integer, example: 1 }
                                    precio: { type: string, example: '850.00' }
                                    precio_promocion: { type: string, example: '550.00' }
                                    capacidad_minima: { type: string, example: '3' }
                                    capacidad_maxima: { type: string, example: '7' }
                                    estado: { type: string, example: Disponible }
                                    foto: { type: string, example: 'http://pairumanibackoffice.test/public/imagenes/habitaciones/habitacion_210516222401.jfif' }
            tags:
                - Endpoints
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                bearer_token:
                                    type: string
                                    description: 'Campo unico del cliente autenticado para acceder a esta ruta.'
                                    example: drWa9YnurQFx6bY8rfsRcdMXsXpLvTUWSEkqQHivBDLJpbFv7E31BxxBcj6z
                                categoria_id:
                                    type: integer
                                    description: 'Id de la categoria de la habitacion.'
                                    example: 1
                            required:
                                - bearer_token
                                - categoria_id
            security: []
    /api/habitaciondetalle:
        post:
            summary: 'HABITACIONES - Detalle de la habitacion'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200, success'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    nombre: asfasfasgfsagasga
                                    descripcion: '<p>asasfasfa</p>'
                                    num_habitacion: 100
                                    precio: '250.00'
                                    precio_promocion: '0.00'
                                    capacidad_minima: '6'
                                    capacidad_maxima: '8'
                                    estado: Reservado
                                    foto: 'http://pairumanibackoffice.test/public/imagenes/habitaciones/habitacion_210430121313.jpg'
                                properties:
                                    nombre: { type: string, example: asfasfasgfsagasga }
                                    descripcion: { type: string, example: '<p>asasfasfa</p>' }
                                    num_habitacion: { type: integer, example: 100 }
                                    precio: { type: string, example: '250.00' }
                                    precio_promocion: { type: string, example: '0.00' }
                                    capacidad_minima: { type: string, example: '6' }
                                    capacidad_maxima: { type: string, example: '8' }
                                    estado: { type: string, example: Reservado }
                                    foto: { type: string, example: 'http://pairumanibackoffice.test/public/imagenes/habitaciones/habitacion_210430121313.jpg' }
            tags:
                - Endpoints
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                bearer_token:
                                    type: string
                                    description: 'Campo unico del cliente autenticado para acceder a esta ruta.'
                                    example: drWa9YnurQFx6bY8rfsRcdMXsXpLvTUWSEkqQHivBDLJpbFv7E31BxxBcj6z
                                habitacion_id:
                                    type: integer
                                    description: 'Id de la habitacion para ver su detalle.'
                                    example: 1
                            required:
                                - bearer_token
                                - habitacion_id
            security: []
    /api/Habitacionescategoria:
        get:
            summary: 'HABITACIONES - Listado de habitaciones a la categoria que pertenece'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200, success'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    nombre: 'Habitacion 1'
                                    descripcion: '<p>asdafasfasfasfafafas</p>'
                                    num_habitacion: 1
                                    precio: '850.00'
                                    precio_promocion: '550.00'
                                    capacidad_minima: '3'
                                    capacidad_maxima: '7'
                                    estado: Disponible
                                    categoria: 'Habitacion Presidencial'
                                    foto: 'http://pairumanibackoffice.test/public/imagenes/habitaciones/habitacion_210516222401.jfif'
                                properties:
                                    nombre: { type: string, example: 'Habitacion 1' }
                                    descripcion: { type: string, example: '<p>asdafasfasfasfafafas</p>' }
                                    num_habitacion: { type: integer, example: 1 }
                                    precio: { type: string, example: '850.00' }
                                    precio_promocion: { type: string, example: '550.00' }
                                    capacidad_minima: { type: string, example: '3' }
                                    capacidad_maxima: { type: string, example: '7' }
                                    estado: { type: string, example: Disponible }
                                    categoria: { type: string, example: 'Habitacion Presidencial' }
                                    foto: { type: string, example: 'http://pairumanibackoffice.test/public/imagenes/habitaciones/habitacion_210516222401.jfif' }
            tags:
                - Endpoints
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                bearer_token:
                                    type: string
                                    description: 'Campo unico del cliente autenticado para acceder a esta ruta.'
                                    example: drWa9YnurQFx6bY8rfsRcdMXsXpLvTUWSEkqQHivBDLJpbFv7E31BxxBcj6z
                            required:
                                - bearer_token
            security: []
    /api/promociones:
        get:
            summary: 'PROMOCION - Listado de promociones de las habitaciones'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200, success'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    nombre: asdasfasfasfa
                                    descripcion: '<p>asfasfasfasfsafa</p>'
                                    precio: '150.00'
                                    estado: Activo
                                    foto: 'http://pairumanibackoffice.test/public/imagenes/promociones/promocion_210513161554.jpg'
                                properties:
                                    nombre: { type: string, example: asdasfasfasfa }
                                    descripcion: { type: string, example: '<p>asfasfasfasfsafa</p>' }
                                    precio: { type: string, example: '150.00' }
                                    estado: { type: string, example: Activo }
                                    foto: { type: string, example: 'http://pairumanibackoffice.test/public/imagenes/promociones/promocion_210513161554.jpg' }
            tags:
                - Endpoints
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                bearer_token:
                                    type: string
                                    description: 'Campo unico del cliente autenticado para acceder a esta ruta.'
                                    example: drWa9YnurQFx6bY8rfsRcdMXsXpLvTUWSEkqQHivBDLJpbFv7E31BxxBcj6z
                            required:
                                - bearer_token
            security: []
    /api/transportes:
        get:
            summary: 'TRANSPORTES - Listado de transportes'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200, success'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    nombre: 'Taxis corona'
                                    descripcion: '<p>adasdasdasd</p>'
                                    precio: '25.00'
                                properties:
                                    nombre: { type: string, example: 'Taxis corona' }
                                    descripcion: { type: string, example: '<p>adasdasdasd</p>' }
                                    precio: { type: string, example: '25.00' }
            tags:
                - Endpoints
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                bearer_token:
                                    type: string
                                    description: 'Campo unico del cliente autenticado para acceder a esta ruta.'
                                    example: drWa9YnurQFx6bY8rfsRcdMXsXpLvTUWSEkqQHivBDLJpbFv7E31BxxBcj6z
                            required:
                                - bearer_token
            security: []
    /api/transportedetalle:
        post:
            summary: 'TRANSPORTES - Detalle de transporte'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200, success'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    nombre: 'Taxis corona'
                                    descripcion: '<p>adasdasdasd</p>'
                                    precio: '25.00'
                                    foto: foto.jpg
                                properties:
                                    nombre: { type: string, example: 'Taxis corona' }
                                    descripcion: { type: string, example: '<p>adasdasdasd</p>' }
                                    precio: { type: string, example: '25.00' }
                                    foto: { type: string, example: foto.jpg }
            tags:
                - Endpoints
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                bearer_token:
                                    type: string
                                    description: 'Campo unico del cliente autenticado para acceder a esta ruta.'
                                    example: drWa9YnurQFx6bY8rfsRcdMXsXpLvTUWSEkqQHivBDLJpbFv7E31BxxBcj6z
                                transporte_id:
                                    type: integer
                                    description: 'Id del transporte para ver su detalle.'
                                    example: 1
                            required:
                                - bearer_token
                                - transporte_id
            security: []
    /api/eventos:
        get:
            summary: 'EVENTOS - Listado de eventos'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200, success'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    nombre: sadaasfasa
                                    descripcion: '<p>asfasfasfas</p>'
                                    fecha: '2021-04-24'
                                    foto: 'http://pairumanibackoffice.test/public/imagenes/eventos/evento_210422123859.jpg'
                                properties:
                                    nombre: { type: string, example: sadaasfasa }
                                    descripcion: { type: string, example: '<p>asfasfasfas</p>' }
                                    fecha: { type: string, example: '2021-04-24' }
                                    foto: { type: string, example: 'http://pairumanibackoffice.test/public/imagenes/eventos/evento_210422123859.jpg' }
            tags:
                - Endpoints
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                bearer_token:
                                    type: string
                                    description: 'Campo unico del cliente autenticado para acceder a esta ruta.'
                                    example: drWa9YnurQFx6bY8rfsRcdMXsXpLvTUWSEkqQHivBDLJpbFv7E31BxxBcj6z
                            required:
                                - bearer_token
            security: []
    /api/lugaresgastronomia:
        get:
            summary: 'TURISTICOS - Listado de Lugares Turisticos Gastronomicos'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200, success'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    nombre: Pairumani
                                    descripcion: '<p>Recorrido por todo el parque</p>'
                                    precio_recorrido: '500.00'
                                    lat: '-17.38918918180772'
                                    lng: '-66.15840481762962'
                                    tipo: Gastronomia
                                    foto: 'http://pairumanibackoffice.test/public/imagenes/lugaresturisticos/lugar_210422114750.jpg'
                                properties:
                                    nombre: { type: string, example: Pairumani }
                                    descripcion: { type: string, example: '<p>Recorrido por todo el parque</p>' }
                                    precio_recorrido: { type: string, example: '500.00' }
                                    lat: { type: string, example: '-17.38918918180772' }
                                    lng: { type: string, example: '-66.15840481762962' }
                                    tipo: { type: string, example: Gastronomia }
                                    foto: { type: string, example: 'http://pairumanibackoffice.test/public/imagenes/lugaresturisticos/lugar_210422114750.jpg' }
            tags:
                - Endpoints
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                bearer_token:
                                    type: string
                                    description: 'Campo unico del cliente autenticado para acceder a esta ruta.'
                                    example: drWa9YnurQFx6bY8rfsRcdMXsXpLvTUWSEkqQHivBDLJpbFv7E31BxxBcj6z
                            required:
                                - bearer_token
            security: []
    /api/lugaresturismo:
        get:
            summary: 'TURISTICOS - Listado de Lugares Turisticos Turismo'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200, success'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    nombre: Pairumani
                                    descripcion: '<p>Recorrido por todo el parque</p>'
                                    precio_recorrido: '500.00'
                                    lat: '-17.38918918180772'
                                    lng: '-66.15840481762962'
                                    tipo: Turismo
                                    foto: 'http://pairumanibackoffice.test/public/imagenes/lugaresturisticos/lugar_210422114750.jpg'
                                properties:
                                    nombre: { type: string, example: Pairumani }
                                    descripcion: { type: string, example: '<p>Recorrido por todo el parque</p>' }
                                    precio_recorrido: { type: string, example: '500.00' }
                                    lat: { type: string, example: '-17.38918918180772' }
                                    lng: { type: string, example: '-66.15840481762962' }
                                    tipo: { type: string, example: Turismo }
                                    foto: { type: string, example: 'http://pairumanibackoffice.test/public/imagenes/lugaresturisticos/lugar_210422114750.jpg' }
            tags:
                - Endpoints
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                bearer_token:
                                    type: string
                                    description: 'Campo unico del cliente autenticado para acceder a esta ruta.'
                                    example: drWa9YnurQFx6bY8rfsRcdMXsXpLvTUWSEkqQHivBDLJpbFv7E31BxxBcj6z
                            required:
                                - bearer_token
            security: []
    /api/turismodetalle:
        post:
            summary: 'TURISTICOS - Detalle Lugar Turistico'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200, success'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    nombre: 'Plaza Principal'
                                    descripcion: '<p>asdafafafmans,mfna,s</p>'
                                    precio_recorrido: '250.00'
                                    lat: '-17.39375549279761'
                                    lng: '-66.15695642476157'
                                    tipo: Turismo
                                    foto: 'http://pairumanibackoffice.test/public/imagenes/lugaresturisticos/lugar_210513145930.jpg'
                                properties:
                                    nombre: { type: string, example: 'Plaza Principal' }
                                    descripcion: { type: string, example: '<p>asdafafafmans,mfna,s</p>' }
                                    precio_recorrido: { type: string, example: '250.00' }
                                    lat: { type: string, example: '-17.39375549279761' }
                                    lng: { type: string, example: '-66.15695642476157' }
                                    tipo: { type: string, example: Turismo }
                                    foto: { type: string, example: 'http://pairumanibackoffice.test/public/imagenes/lugaresturisticos/lugar_210513145930.jpg' }
            tags:
                - Endpoints
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                bearer_token:
                                    type: string
                                    description: 'Campo unico del cliente autenticado para acceder a esta ruta.'
                                    example: drWa9YnurQFx6bY8rfsRcdMXsXpLvTUWSEkqQHivBDLJpbFv7E31BxxBcj6z
                                turismo_id:
                                    type: integer
                                    description: 'Id del lugar turistico.'
                                    example: 2
                            required:
                                - bearer_token
            security: []
    /api/restaurantecategorias:
        get:
            summary: 'RESTAURANTE - Listado de Categorias Restaurante'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200, success'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    nombre: adasdasfasf
                                    descripcion: '<p>safasfasfasfa</p>'
                                    foto: 'http://pairumanibackoffice.test/public/imagenes/restaurantes/categorias/restaurantecategoria_210422153310.jpg'
                                properties:
                                    nombre: { type: string, example: adasdasfasf }
                                    descripcion: { type: string, example: '<p>safasfasfasfa</p>' }
                                    foto: { type: string, example: 'http://pairumanibackoffice.test/public/imagenes/restaurantes/categorias/restaurantecategoria_210422153310.jpg' }
            tags:
                - Endpoints
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                bearer_token:
                                    type: string
                                    description: 'Campo unico del cliente autenticado para acceder a esta ruta.'
                                    example: drWa9YnurQFx6bY8rfsRcdMXsXpLvTUWSEkqQHivBDLJpbFv7E31BxxBcj6z
                            required:
                                - bearer_token
            security: []
    /api/restauranteproductos:
        post:
            summary: 'RESTAURANTE - Listado de Productos Restaurante segun a la Categoria que pertenecen'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200, success'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    nombre: 'Pique macho'
                                    descripcion: '<p>afasfasfasfasfasf</p>'
                                    precio: '100.00'
                                    foto: 'http://pairumanibackoffice.test/public/imagenes/restaurantes/productos/producto_210423115837.jpg'
                                properties:
                                    nombre: { type: string, example: 'Pique macho' }
                                    descripcion: { type: string, example: '<p>afasfasfasfasfasf</p>' }
                                    precio: { type: string, example: '100.00' }
                                    foto: { type: string, example: 'http://pairumanibackoffice.test/public/imagenes/restaurantes/productos/producto_210423115837.jpg' }
            tags:
                - Endpoints
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                bearer_token:
                                    type: string
                                    description: 'Campo unico del cliente autenticado para acceder a esta ruta.'
                                    example: drWa9YnurQFx6bY8rfsRcdMXsXpLvTUWSEkqQHivBDLJpbFv7E31BxxBcj6z
                                categoria_id:
                                    type: integer
                                    description: 'Id de la categoria del producto.'
                                    example: 1
                            required:
                                - bearer_token
                                - categoria_id
            security: []
    /api/productodetalle:
        post:
            summary: 'RESTAURANTE - Deatelle Producto Restaurante'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200, success'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    nombre: 'Pique macho'
                                    descripcion: '<p>afasfasfasfasfasf</p>'
                                    precio: '100.00'
                                    foto: 'http://pairumanibackoffice.test/public/imagenes/restaurantes/productos/producto_210423115837.jpg'
                                properties:
                                    nombre: { type: string, example: 'Pique macho' }
                                    descripcion: { type: string, example: '<p>afasfasfasfasfasf</p>' }
                                    precio: { type: string, example: '100.00' }
                                    foto: { type: string, example: 'http://pairumanibackoffice.test/public/imagenes/restaurantes/productos/producto_210423115837.jpg' }
            tags:
                - Endpoints
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                bearer_token:
                                    type: string
                                    description: 'Campo unico del cliente autenticado para acceder a esta ruta.'
                                    example: drWa9YnurQFx6bY8rfsRcdMXsXpLvTUWSEkqQHivBDLJpbFv7E31BxxBcj6z
                                producto_id:
                                    type: integer
                                    description: 'Id del producto.'
                                    example: 1
                            required:
                                - bearer_token
                                - producto_id
            security: []
    /api/cafeteriacategorias:
        get:
            summary: 'CAFETERIA - Listado de Categorias Cafeteria'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200, success'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    nombre: adasdasfasf
                                    descripcion: '<p>safasfasfasfa</p>'
                                    foto: 'http://pairumanibackoffice.test/public/imagenes/cafeteria/categorias/cafeteriacategoria_210422153310.jpg'
                                properties:
                                    nombre: { type: string, example: adasdasfasf }
                                    descripcion: { type: string, example: '<p>safasfasfasfa</p>' }
                                    foto: { type: string, example: 'http://pairumanibackoffice.test/public/imagenes/cafeteria/categorias/cafeteriacategoria_210422153310.jpg' }
            tags:
                - Endpoints
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                bearer_token:
                                    type: string
                                    description: 'Campo unico del cliente autenticado para acceder a esta ruta.'
                                    example: drWa9YnurQFx6bY8rfsRcdMXsXpLvTUWSEkqQHivBDLJpbFv7E31BxxBcj6z
                            required:
                                - bearer_token
            security: []
    /api/cafeteriaproductos:
        post:
            summary: 'CAFETERIA - Listado de Productos Cafeteria segun a la Categoria que pertenecen'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200, success'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    nombre: 'Pique macho'
                                    descripcion: '<p>afasfasfasfasfasf</p>'
                                    precio: '100.00'
                                    foto: 'http://pairumanibackoffice.test/public/imagenes/cafeteria/productos/producto_210423115837.jpg'
                                properties:
                                    nombre: { type: string, example: 'Pique macho' }
                                    descripcion: { type: string, example: '<p>afasfasfasfasfasf</p>' }
                                    precio: { type: string, example: '100.00' }
                                    foto: { type: string, example: 'http://pairumanibackoffice.test/public/imagenes/cafeteria/productos/producto_210423115837.jpg' }
            tags:
                - Endpoints
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                bearer_token:
                                    type: string
                                    description: 'Campo unico del cliente autenticado para acceder a esta ruta.'
                                    example: drWa9YnurQFx6bY8rfsRcdMXsXpLvTUWSEkqQHivBDLJpbFv7E31BxxBcj6z
                                categoria_id:
                                    type: integer
                                    description: 'Id de la categoria del producto.'
                                    example: 1
                            required:
                                - bearer_token
                                - categoria_id
            security: []
    /api/cafeteriaproductodetalle:
        post:
            summary: 'CAFETERIA - Deatelle Producto Cafeteria'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200, success'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    nombre: 'Pique macho'
                                    descripcion: '<p>afasfasfasfasfasf</p>'
                                    precio: '100.00'
                                    foto: 'http://pairumanibackoffice.test/public/imagenes/cafeteria/productos/producto_210423115837.jpg'
                                properties:
                                    nombre: { type: string, example: 'Pique macho' }
                                    descripcion: { type: string, example: '<p>afasfasfasfasfasf</p>' }
                                    precio: { type: string, example: '100.00' }
                                    foto: { type: string, example: 'http://pairumanibackoffice.test/public/imagenes/cafeteria/productos/producto_210423115837.jpg' }
            tags:
                - Endpoints
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                bearer_token:
                                    type: string
                                    description: 'Campo unico del cliente autenticado para acceder a esta ruta.'
                                    example: drWa9YnurQFx6bY8rfsRcdMXsXpLvTUWSEkqQHivBDLJpbFv7E31BxxBcj6z
                                producto_id:
                                    type: integer
                                    description: 'Id del producto.'
                                    example: 1
                            required:
                                - bearer_token
                                - producto_id
            security: []
    /api/reservahabitacion:
        post:
            summary: 'RESERVAS - Nueva reserva.'
            description: 'Creacion de la Reserva de una Habitacion'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200, success'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    checkin: '2021-05-14'
                                    checkout: '2021-05-16'
                                    adultos: '3'
                                    niños: '2'
                                    cliente_id: 7
                                    habitacion_id: 8
                                    id: 8
                                properties:
                                    checkin: { type: string, example: '2021-05-14' }
                                    checkout: { type: string, example: '2021-05-16' }
                                    adultos: { type: string, example: '3' }
                                    niños: { type: string, example: '2' }
                                    cliente_id: { type: integer, example: 7 }
                                    habitacion_id: { type: integer, example: 8 }
                                    id: { type: integer, example: 8 }
            tags:
                - Endpoints
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                bearer_token:
                                    type: string
                                    description: 'Campo unico del cliente autenticado para acceder a esta ruta.'
                                    example: drWa9YnurQFx6bY8rfsRcdMXsXpLvTUWSEkqQHivBDLJpbFv7E31BxxBcj6z
                                checkin:
                                    type: date
                                    description: 'Fecha checkin.'
                                    example: '2021-05-17'
                                checkout:
                                    type: date
                                    description: 'Fecha checkout.'
                                    example: '2021-05-19'
                                adultos:
                                    type: integer
                                    description: 'Canridad de adultos en la habitacion.'
                                    example: 3
                                ninos:
                                    type: integer
                                    description: 'Cantidad de niños en la habitacion.'
                                    example: 2
                                cliente_id:
                                    type: integer
                                    description: 'Id del cliente a reservar.'
                                    example: 1
                                habitacion_id:
                                    type: integer
                                    description: 'Id de la habitacion.'
                                    example: 1
                            required:
                                - bearer_token
                                - checkin
                                - checkout
                                - adultos
                                - ninos
                                - cliente_id
                                - habitacion_id
            security: []
    /api/misreservas:
        post:
            summary: 'RESERVAS - Mis reservas.'
            description: 'Muestra la lsita de las reservas del cliente'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200, success'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    id: 5
                                    checkin: '2021-05-06'
                                    checkout: '2021-05-08'
                                    adultos: 3
                                    niños: 2
                                    cliente: { nombre: 'Paola Montecinos Pardo', celular: '8888888', telefono: '9999999', ciudad: Cochabamba, pais: Bolivia, oficio: Arquitecto, email: paola@gmail.com }
                                    habitacion: { nombre: 'Habitacion 20', num_habitacion: '20', precio: '450.00', foto: 'http://pairumanibackoffice.test/public/imagenes/habitaciones/habitacion_210506153104.jfif' }
                                properties:
                                    id: { type: integer, example: 5 }
                                    checkin: { type: string, example: '2021-05-06' }
                                    checkout: { type: string, example: '2021-05-08' }
                                    adultos: { type: integer, example: 3 }
                                    niños: { type: integer, example: 2 }
                                    cliente: { type: object, example: { nombre: 'Paola Montecinos Pardo', celular: '8888888', telefono: '9999999', ciudad: Cochabamba, pais: Bolivia, oficio: Arquitecto, email: paola@gmail.com } }
                                    habitacion: { type: object, example: { nombre: 'Habitacion 20', num_habitacion: '20', precio: '450.00', foto: 'http://pairumanibackoffice.test/public/imagenes/habitaciones/habitacion_210506153104.jfif' } }
            tags:
                - Endpoints
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                bearer_token:
                                    type: string
                                    description: 'Campo unico del cliente autenticado para acceder a esta ruta.'
                                    example: drWa9YnurQFx6bY8rfsRcdMXsXpLvTUWSEkqQHivBDLJpbFv7E31BxxBcj6z
                                cliente_id:
                                    type: integer
                                    description: 'Id del cliente.'
                                    example: 1
                            required:
                                - bearer_token
                                - cliente_id
            security: []
    /api/mishospedajes:
        post:
            summary: 'HOSPEDAJES - Hospedajes Cliente'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200, success'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    id: 13
                                    checkin: '2021-05-20'
                                    checkout: '2021-05-22'
                                    adultos: 4
                                    niños: 2
                                    precio: '300.00'
                                    estado: Ocupado
                                    cliente: { nombre: 'Julian Gonzales Llanos', celular: '62101485', telefono: '42682265', ciudad: 'La Paz', pais: Bolivia, oficio: Albañil, email: julian@gmail.com }
                                    habitacion: { nombre: 'Habitacion 26', num_habitacion: '26', precio: '450.00', foto: 'http://pairumanibackoffice.test/public/imagenes/habitaciones/habitacion_210521090607.jfif' }
                                    transportes: []
                                    lugares: [{ nombre: Pairumani, precio: '500.00', fecha: '2021-06-04', tipo: Gastronomia, foto: 'http://pairumanibackoffice.test/public/imagenes/lugaresturisticos/lugar_210422114750.jpg' }, { nombre: Pairumani, precio: '500.00', fecha: '2021-06-11', tipo: Gastronomia, foto: 'http://pairumanibackoffice.test/public/imagenes/lugaresturisticos/lugar_210422114750.jpg' }, { nombre: Pairumani, precio: '500.00', fecha: '2021-06-10', tipo: Gastronomia, foto: 'http://pairumanibackoffice.test/public/imagenes/lugaresturisticos/lugar_210422114750.jpg' }]
                                    restaurante: [{ fecha: '2021-06-09', hora: '17:35:40', productos: [{ producto: 'Pique macho', precio_producto: '100.00', opcion: 'Papas fritas', tamaño: { nombre: Pequeño, precio_tamaño: '40.00' } }] }, { fecha: '2021-06-09', hora: '18:40:48', productos: [{ producto: 'Pique macho', precio_producto: '100.00', opcion: 'Papas fritas', tamaño: { nombre: Pequeño, precio_tamaño: '40.00' } }] }]
[...]
